USE [master]
GO
/****** Object:  Database [prueba]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE DATABASE [prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\prueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [prueba]
GO
/****** Object:  User [SoloLectura]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE USER [SoloLectura] FOR LOGIN [SoloLectura] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Privilegio]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE USER [Privilegio] FOR LOGIN [Privi] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Privi]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE USER [Privi] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LecturaEscritura]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE USER [LecturaEscritura] FOR LOGIN [LecturaEscritura] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Administrador]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE USER [Administrador] FOR LOGIN [Administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SoloPuedeLeer]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE ROLE [SoloPuedeLeer]
GO
/****** Object:  DatabaseRole [PuedeLeeryEscribir]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE ROLE [PuedeLeeryEscribir]
GO
/****** Object:  DatabaseRole [Privilegiado]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE ROLE [Privilegiado]
GO
/****** Object:  DatabaseRole [AdministradorRolUser]    Script Date: 18/2/2024 3:59:22 p. m. ******/
CREATE ROLE [AdministradorRolUser]
GO
ALTER ROLE [SoloPuedeLeer] ADD MEMBER [SoloLectura]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SoloLectura]
GO
ALTER ROLE [Privilegiado] ADD MEMBER [Privilegio]
GO
ALTER ROLE [PuedeLeeryEscribir] ADD MEMBER [LecturaEscritura]
GO
ALTER ROLE [SoloPuedeLeer] ADD MEMBER [LecturaEscritura]
GO
ALTER ROLE [db_datareader] ADD MEMBER [LecturaEscritura]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [LecturaEscritura]
GO
ALTER ROLE [AdministradorRolUser] ADD MEMBER [Administrador]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Administrador]
GO
/****** Object:  ColumnMasterKey [CMK_Auto1]    Script Date: 18/2/2024 3:59:23 p. m. ******/
CREATE COLUMN MASTER KEY [CMK_Auto1]
WITH
(
	KEY_STORE_PROVIDER_NAME = N'MSSQL_CERTIFICATE_STORE',
	KEY_PATH = N'CurrentUser/my/E661064BD3879A85FF01732DDAF40BC29D177E58'
)
GO
/****** Object:  ColumnEncryptionKey [CEK_Auto1]    Script Date: 18/2/2024 3:59:23 p. m. ******/
CREATE COLUMN ENCRYPTION KEY [CEK_Auto1]
WITH VALUES
(
	COLUMN_MASTER_KEY = [CMK_Auto1],
	ALGORITHM = 'RSA_OAEP',
	ENCRYPTED_VALUE = 0x016E000001630075007200720065006E00740075007300650072002F006D0079002F0065003600360031003000360034006200640033003800370039006100380035006600660030003100370033003200640064006100660034003000620063003200390064003100370037006500350038006DEBC43104DB747195EEE2E8BC1EFD3BAC59326232ECDA467B0BDBA83FE03E5E49352FD245764072FF92109A27596F343529160C4CB32904357C0681A9D3FA45F729DB6F8293F5916EAFF90CEFC40FBBC998C63453231F0987917438CD1EA7B0812DCE33D99E36083E49ED3CCF9DE7B5729A47B9C519EC43E672E682DB4816C37477E8FE325CA72D49D69946510B7E2D2EF478274C38ABCA20DD8222AD1A5A003D05ACFD1A310D1CCD77B35CF2A2E84CA0337854B70FC57FB6A6FF68C4C974078A7EE8515BC5286C34ED0C90E8D050437DD680102CA9AAFBB8FB6DD778C0577BFD4691D88DBA2E1A5E470997F9CE6E735B491EFC165FA870CD97240796E573FF473C691F54852736FF2D887E1B5FDF55F83F2744061802E03C978BD71872425A61748BDBAEC2C0B6DBF7A0521DE0C45C0AD10B077E2E16F2CCB98C52A06DFD9BD8597B36A81AA0723C6D9A2E23E2034844EC37774BA9DB21295B34A266E22B6DE90621B93834AA948A4B0C2A8D783E6E62FE38D2DB9D6D22102B159B432E43B49D7BB8DD6A0F6CE588FF74D4B6EBB4BD758EDF107E5338568EBC4B729C9175D0A5A6C470D448FDFB7AA96D8A6422808589AA203A55F8CC948633656595A664BDB672156D2A0E377EA6D01ADD91D6281D3E65B7865AE6180AAFCE3135619A98D9E501CC1800A1D967402567B7711BC4BC865621AB076FAEAD64363667AE3375F2
)
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DepartmentID] [int] NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foraneo]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foraneo](
	[idForaneo] [int] NOT NULL,
	[nombreForaneo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idForaneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial](
	[idTransaccion] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[tipoTransaccion] [varchar](20) NULL,
	[fechaTransaccion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [date] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](50) NULL,
	[SKU] [varchar](20) NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Age] [int] NULL,
	[GPA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zona]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zona](
	[codZona] [int] NOT NULL,
	[idForaneo] [int] NULL,
	[nombreZona] [varchar](50) NULL,
	[area] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[codZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone]) VALUES (1, N'Gertruda', N'Wallach', N'gwallach0@lycos.com', N'829-7648860')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone]) VALUES (2, N'Lazaro', N'Asaaf', N'lasaaf1@foxnews.com', N'702-564-1989')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone]) VALUES (3, N'Lannie', N'Coan', N'lcoan2@soup.io', N'970-328-9936')
GO
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (1, N'Donaldson Company, Inc.')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (2, N'WisdomTree China ex-State-Owned Enterprises Fund')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (3, N'Loews Corporation')
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [DepartmentID], [Salary]) VALUES (1, N'Dugald', N'Wassell', 1, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [DepartmentID], [Salary]) VALUES (2, N'Meggi', N'Corck', 2, CAST(13.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [DepartmentID], [Salary]) VALUES (3, N'Bram', N'Pearton', 3, CAST(65.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Foraneo] ([idForaneo], [nombreForaneo]) VALUES (2, N'foraneer')
INSERT [dbo].[Foraneo] ([idForaneo], [nombreForaneo]) VALUES (1002, N'Arturo Roa')
INSERT [dbo].[Foraneo] ([idForaneo], [nombreForaneo]) VALUES (1003, N'Jose Reyes')
GO
SET IDENTITY_INSERT [dbo].[historial] ON 

INSERT [dbo].[historial] ([idTransaccion], [CustomerID], [tipoTransaccion], [fechaTransaccion]) VALUES (1, 1001, N'T', CAST(N'2024-02-08' AS Date))
INSERT [dbo].[historial] ([idTransaccion], [CustomerID], [tipoTransaccion], [fechaTransaccion]) VALUES (2, 1001, N'T', CAST(N'2024-02-08' AS Date))
INSERT [dbo].[historial] ([idTransaccion], [CustomerID], [tipoTransaccion], [fechaTransaccion]) VALUES (3, 1001, N'T', CAST(N'2024-02-08' AS Date))
SET IDENTITY_INSERT [dbo].[historial] OFF
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount]) VALUES (1, 1, CAST(N'2023-08-07' AS Date), CAST(98.09 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount]) VALUES (2, 2, CAST(N'2024-01-29' AS Date), CAST(54.42 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount]) VALUES (3, 3, CAST(N'2023-10-23' AS Date), CAST(44.47 AS Decimal(10, 2)))
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [SKU], [Price]) VALUES (1, N'Silver Sagebrush', N'US-AK', CAST(815.46 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [SKU], [Price]) VALUES (2, N'Woolly Senna', N'MG-M', CAST(464.47 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [SKU], [Price]) VALUES (3, N'Embelia', N'LY-TB', CAST(579.98 AS Decimal(10, 2)))
GO
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Age], [GPA]) VALUES (1, N'Bone', N'Blagdon', 22, 0.43)
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Age], [GPA]) VALUES (3, N'Bibi', N'Tudge', 84, 1.41)
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Age], [GPA]) VALUES (5, N'Zared', N'Pietri', 85, 0.6)
GO
INSERT [dbo].[Zona] ([codZona], [idForaneo], [nombreZona], [area]) VALUES (2, 2, N'MFA Financial, Inc.', CAST(2195.66 AS Decimal(8, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534C3CC778D]    Script Date: 18/2/2024 3:59:23 p. m. ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__CA1ECF0D3A9FCAFE]    Script Date: 18/2/2024 3:59:23 p. m. ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Zona]  WITH CHECK ADD FOREIGN KEY([idForaneo])
REFERENCES [dbo].[Foraneo] ([idForaneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([Age]>=(18)))
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([GPA]>=(0.0) AND [GPA]<=(4.0)))
GO
/****** Object:  Trigger [dbo].[iduCustomer]    Script Date: 18/2/2024 3:59:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[iduCustomer] ON [dbo].[Customers]
AFTER INSERT, DELETE, UPDATE AS 
BEGIN
    DECLARE @Count int;

    SET @Count = @@ROWCOUNT;
    IF @Count = 0 
        RETURN;

    SET NOCOUNT ON;

    BEGIN TRY
        -- If inserting or updating these columns
        IF UPDATE([CustomerID]) OR UPDATE([Email]) OR UPDATE([LastName]) OR UPDATE([Phone]) 
        -- Insert record into TransactionHistory
        BEGIN
            INSERT INTO [historial]
                ([CustomerID]
                ,[tipoTransaccion]
                ,[fechaTransaccion])
            SELECT 
                inserted.[CustomerID]
                ,'T'
                ,GETDATE()

            FROM inserted 
        END;
    END TRY
    BEGIN CATCH
        -- Rollback any active or uncommittable transactions before
        -- inserting information in the ErrorLog
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

    END CATCH;
END;
GO
ALTER TABLE [dbo].[Customers] ENABLE TRIGGER [iduCustomer]
GO
USE [master]
GO
